# Dependencies
node_modules

# Build outputs
dist
.output
.nuxt

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/mcp.json
*.sublime-*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Nuxt/Vercel/Netlify
.vercel
.vercel_build_output
.netlify
node-compile-cache

# Claude
.claude
CLAUDE.md

# Private assets
public/cv
.firecrawl
